.Encabezado{
    border: 1px solid black;
    text-align: center;
}

.Indice{
    width: 100%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline-block;
    border-right: 1px solid black ;
    margin-right:-4px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul li:first-child{
    border-left: 1px solid black;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: #ffffff;
}

#Explicación-General{
    width: 50%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

#Explicación-General h2{ 
    display:inline-block;
    border: 1px solid black;
}

#Abatimientos{
    width: 50%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

#Abatimientos h2{
    display: inline-block;
    border: 1px solid black;
}

#Cambio-de-Planos{
    width: 50%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

#Cambio-de-Planos h2{
    display: inline-block;
    border: 1px solid black;
}

#Giros{
    width: 50%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

#Giros h2{
    display: inline-block;
    border: 1px solid black;
}

.input{
    border: 1px solid black;
    border-radius: 5px;
}

#enviar{
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgba(92, 190, 0, 0.5);
}

