body{
    background-image: linear-gradient(180deg, #ffb629 0, #ffa537 10%, #ff9243 20%, #ff7e4b 30%, #ff6951 40%, #f25353 50%, #d93f53 60%,
                                     #c22f54 70%, #ad2355 80%, #9b1b56 90%, #8c1859 100%);
}

.Encabezado{
    border: 1px solid black;
    text-align: center;
}

.Indice{
    width: 100%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline-block;
    border-right: 1px solid black ;
    margin-right:-4px ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul li:first-child{
    border-left: 1px solid black;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-image: linear-gradient(to bottom right, white,black);
}

#Explicación-General{
    width: 73%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

.titulo{
    text-align: center;
}   

/* .titulo h2{
    border: 1px solid black;    
    padding: 10px;
    display: inline-block;
} */

#Articulos-relacionados{
    border: 1px solid black;
    width: 25%;
    float: right;
}

#Abatimientos{
    width: 73%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

/* #Abatimientos h2{
    display: inline-block;
    border: 1px solid black;
} */

#Cambio-de-Planos{
    width: 73%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

/* #Cambio-de-Planos h2{
    display: inline-block;
    border: 1px solid black;
} */

#Giros{
    width: 73%;
    margin: 0;
    border: 1px solid black;
    text-align: left;
}

/* #Giros h2{
    display: inline-block;
    border: 1px solid black;
} */

.Caja-de-comentarios{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(25, 191, 212);
}

.input{
    border: 1px solid black;
    border-radius: 5px;
}

#enviar{
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgba(92, 190, 0, 0.5);
}

